@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
/* CSS Document */

* {
	box-sizing: border-box;
}



body {
	margin: 0;
	text-align: center;
	font-family: "Raleway";
}

header {
	margin-top: 1em;
	position: absolute;
	width: 100%
}
.title {
	font-size: 2.8rem;
}

.title span {
	font-size: 0.8em;
	display: block;
	padding-top: 0.3em;
}

.title-container {
	width: 92%;
	margin: 0 auto;
	margin-top: -10.5em;
	
}
.home {
	background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
	padding: 29em 0;
	color: white;
}

/* CREATE ENTIRE NEW BUTTON CLASS */

			/*
			sign-up-button {
				text-decoration: none;
				font-size: 1em;
				background-color: orange;
				padding: 0.5em 1.5em;
				display: inline-block
				border: default;  
				border-radius: 11px;	
			}  
			*/
	
.btn {
	text-decoration: none;
	position: relative;
	color: white;
	width: 11em;
	height: 4em;
	line-height: 4em;
	transition: all 0.3s;
	display: inline-block;
	
}

.btn::before, .btn::after {
	content: '';
	position: absolute;
 	bottom: 0;
 	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

.btn-six::before {
	opacity: 0;
	background: rgba(255, 255, 255, 0.1);
	transform: scale(0.9, 0.9);
	border-radius: 11px;
}

.btn-six:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn-six::after {
	transition: all 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 11px;

}

.btn-six:hover::after {
	transform: scale(0, 0);
}


nav ul {
	magin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

nav li {
	list-stle: none;
	text-decoration: none;
	display: inline-block;
	margin: 0.8em;
}

nav a {

	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1em;
	font-weight: 800;
	padding: 0.3em;	
}

nav a:hover {
	color: #8C8C8C;
	transition: ease 0.3s;
}







						/* useless stuff */

/* cool lookin scroll bar */

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  background: #F3F3F3;
}

body::-webkit-scrollbar-thumb {
  background: #9A9A9A;
}



/* LOADER */

#fade {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}
